{% extends '::base.html.twig' %}


{% block body -%}


<div class="row">
    <div class="col-sm-12">

		<h2>Absztrakt beküldése </h2>
        
        <div class="">
            {% include 'FormFlow/stepList.html.twig' %}
        </div>

        <hr>

        {{ form_start(form) }}

        {% if flow.getCurrentStepNumber() == 1 %}
        <div class="row">
            <div class="col-sm-6">
                {{ form_row(form.name) }}
            </div>
            <div class="col-sm-6">
                {{ form_row(form.email) }}
            </div>

        </div>
        <div class="row">
            <div class="col-sm-12">
                {{ form_row(form.authors) }}
            </div>
        </div>
        <hr>

		{% elseif flow.getCurrentStepNumber() == 2 %}


		<div class="row">
            <div class="col-sm-12">
                
                {{ form_row(form.title) }}


            </div>

            <div class="col-sm-12">
                
                {{ form_row(form.body1) }}


            </div>

        </div>

        {% elseif flow.getCurrentStepNumber() == 3 %}




            {% include 'App:Presentation:presentation_check.html.twig' %}

            <div class="row">

                <div class="col-sm-8">
                <div class="">
                <h4>Ellenőrzés</h4>
                <p>Kérjük hogy az alábbi mezőt pipálja ki, mellyel megbizonyosodunk róla hogy valós az előadás feltöltése!</p>
                {{ form_widget(form.recaptcha) }}
                {{ form_errors(form.recaptcha) }}
                </div>
                </div>
            </div>     

        {% endif %}

        {{ form_rest(form) }}
        <hr>

        {% include 'FormFlow/buttons.html.twig' %}

        {{ form_end(form) }}

    </div>
</div>


{% endblock %}



