<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <title>{{ entity.title }}</title>
</head>
<body>
    <dl class="dl-horizontal">
        <dt>Név: </dt>
        <dd>{{ entity.name }}</dd>
        <dt>Email: </dt>
        <dd>{{ entity.email }}</dd>
    </dl>

    <h2>
        <center>{{ entity.title }}</center>
    </h2>
    <p>
    
    <center>
    <small>
    {% for author in entity.authors %}
        {{ author }},<br>
    {% endfor %}
        
    </small>
        
    </center>  
    </p>
        <p></p>
        {{ entity.body1|raw }}

</body>
</html>

