<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}01. Magyar Klipszemle!{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta property="og:title" content="Első Magyar Klipszemle" />
        <meta property="og:site_name" content="01. Magyar Klipszemle"/>
        <meta property="og:url" content="http://www.klipszemle.hu" />
        <meta property="og:description" content="A  Magyar Klipszemle a magyar vonatkozású zenei videók első szakmai versenye. Magyarországon heti szinten több tucat videoklip készül, ami a legjobb esetben egy kiemelkedő online megtekintési szám elérésén kívül nem kap kellő figyelmet. Ezen változtatunk. Célunk egy olyan itthon egyedülálló, független rendezvény létrehozása, ami ezen alkotások művészi értékét kiemelve, nagy vásznon prezentálja a média, a szakma és a közönség számára. A szemlének másodlagos célja, hogy edukáljon és koncentráltan információkat továbbítson a szakmának, a zenészeknek, zenei managereknek és kiadóknak egyaránt. Az online nevezést egy szeptemberi kétnapos rendezvény követi a Toldiban, ahol vetítések, zsűrizés, Q&amp;A-ek, workshopok és party várja a szakmát és a klipekre fogékonyakat. Az első szemle az elmúlt öt év klipjeire koncentrál, az ezután következők az aktuális év termését versenyeztetik majd. A 2010 előtti alkotásokat külön kategóriában versenyeztetjük. " />
        <meta property="og:type" content="website" />
        <meta property="og:locale" content="hu_HU" />            <!-- Default -->
        <meta property="article:author" content="https://www.facebook.com/klipszemle" />
        <meta property="article:publisher" content="https://www.facebook.com/klipszemle" />
        {% image '@PixeloidAppBundle/Resources/public/images/mksz_logo.jpg' %}
        <meta property="og:image"
        content="http://www.klipszemle.hu{{ asset_url }}" />
        {% endimage %}


        <link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png?v2">
        <link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png?v2">
        <link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png?v2">
        <link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png?v2">
        <link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png?v2">
        <link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png?v2">
        <link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png?v2">
        <link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png?v2">
        <link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png?v2">
        <link rel="icon" type="image/png" sizes="192x192"  href="/android-icon-192x192.png?v2">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png?v2">
        <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png?v2">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png?v2">
        <link rel="manifest" href="/manifest.json">
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="msapplication-TileImage" content="/ms-icon-144x144.png?v2">
        <meta name="theme-color" content="#ffffff">


        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/r/bs-3.3.5/jq-2.1.4,dt-1.10.9,af-2.0.0,b-1.0.3,b-colvis-1.0.3,b-flash-1.0.3,b-html5-1.0.3/datatables.min.css"/>
        <link rel="stylesheet" href="//cdn.jsdelivr.net/bootstrap.daterangepicker/1/daterangepicker-bs3.css" />

        <!-- Bootstrap -->
        {% block stylesheets %}
        {% stylesheets
        '@BraincraftedBootstrapBundle/Resources/less/form.less'
        '@PixeloidAppBundle/Resources/public/less/styles.less'
        filter='less, css_url_rewrite' output='css/styles.css' %}
        <link href="{{ asset_url }}" type="text/css" rel="stylesheet" media="all"/>
    {% endstylesheets %}
{% endblock %}
<!-- HTML5 Shim and Respond.js add IE8 support of HTML5 elements and media queries -->
{% include 'BraincraftedBootstrapBundle::ie8-support.html.twig' %}
</head>
<body>

<nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand page-scroll" href="/#intro">
            {% image '@PixeloidAppBundle/Resources/public/images/klipszemle_logo.png' %}
                <img src="{{ asset_url }}" class="" height="45" alt=""/>
            {% endimage %}
            </a>
        </div>
        
        {{ knp_menu_render('PixeloidAppBundle:Builder:secondaryMenu', {'nav_type': '', 'currentAsLink': true, 'currentClass': 'active'}) }}

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
        {{ knp_menu_render('PixeloidAppBundle:Builder:mainMenu', {'nav_type': '', 'currentAsLink': true, 'currentClass': 'active'}) }}
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>



<div class="wrapper">

{% block body %}{% endblock %}

                <div class="push"></div>


</div>
        



         <!-- Footer -->
         <footer>
             <div class="container ">
                <div class="row">
                    <div class="col-sm-4">
                        <ul class="list-unstyled">
                            <li><a href="{{ path('pixeloid_app_privacy') }}">Adatvédelmi ismertető</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-4 text-center">
                                         <p>Copyright &copy; 2015</p>

                    </div>

                    <div class="col-sm-4">
                        {{ knp_menu_render('PixeloidAppBundle:Builder:topMenu', {'nav_type': '', 'currentAsLink': true, 'currentClass': 'active'}) }}

                    </div>
                </div>
             </div>
         </footer>


         <script type="text/javascript" id="www-widgetapi-script" src="https://s.ytimg.com/yts/jsbin/www-widgetapi-vflab8ybX/www-widgetapi.js" async=""></script>



{% javascripts  
        '@jquery' 
        '@bootstrap_js' 
       '@PixeloidAppBundle/Resources/public/lib/iCheck/icheck.js' 
        '@PixeloidAppBundle/Resources/public/lib/jquery.easing.min.js' 
        '@PixeloidAppBundle/Resources/public/lib/bootstrap-select.js' 
        '@PixeloidAppBundle/Resources/public/lib/bootstrap-datepicker.js' 
        '@PixeloidAppBundle/Resources/public/lib/bootstrap-datepicker.hu.js' 
        '@PixeloidAppBundle/Resources/public/lib/jquery.tablesorter.min.js' 
        '@PixeloidAppBundle/Resources/public/js/*' 
    %}

<script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}
<script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.2/moment-with-locales.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/r/bs-3.3.5/jqc-1.11.3,dt-1.10.8/datatables.min.js"></script>
<script src="//cdn.jsdelivr.net/bootstrap.daterangepicker/1/daterangepicker.js"></script>
<script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
<script src="{{ path('fos_js_routing_js', {'callback': 'fos.Router.setData'}) }}"></script>




{% block javascripts %}
    
{% endblock %}


<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-2124136-46', 'auto');
  ga('send', 'pageview');

</script>
</body>
</html>