<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}Welcome!{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Bootstrap -->
        {% block stylesheets %}
            {% stylesheets  '@PixeloidAppBundle/Resources/public/fonts/font.css' filter='less, css_url_rewrite' output='css/fonts.css' %}
            <link href="{{ asset_url }}" type="text/css" rel="stylesheet" />
        {% endstylesheets %}
        {% stylesheets
        '@BraincraftedBootstrapBundle/Resources/less/form.less'
        '@PixeloidAppBundle/Resources/public/less/styles.less'
        filter='less, css_url_rewrite' output='css/styles.css' %}
        <link href="{{ asset_url }}" type="text/css" rel="stylesheet" media="all"/>
    {% endstylesheets %}
{% endblock %}
<!-- HTML5 Shim and Respond.js add IE8 support of HTML5 elements and media queries -->
{% include 'BraincraftedBootstrapBundle::ie8-support.html.twig' %}
</head>
<body>
<header>
    <div class="container hidden-print">
        <nav class=" navbar-xs" role="navigation">
                {{ knp_menu_render('PixeloidAppBundle:Builder:topMenu', {'nav_type': '', 'currentAsLink': true, 'currentClass': 'active'}) }}
        
        </nav>
    </div>
    <div class="container hidden-print">
        <div class="row">
            <div class="col-md-8"><a href="#"><h2><span>Magyar Gyermek-gasztroenterológiai Társaság <b> V. Kongresszusa</b></span></h2></a></div>
            <div class="col-md-4 text-right date"><h4><b>2015. október 1-3.</b> <span>Mátraháza – Lifestyle Hotel Mátra</span></h4></div>
        </div>
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        </button>
    </div>
</header>
<div class="hidden-print">
<div class="navbar navbar-default navbar-collapse collapse" id="bs-example-navbar-collapse-1">
    <div class="container">
        {{ knp_menu_render('PixeloidAppBundle:Builder:mainMenu', {'nav_type': '', 'currentAsLink': true, 'currentClass': 'active'}) }}
    </div>
</div>
    
</div>
<div class="wrapper">
<div class="container container_main">
    
    {% block body %}{% endblock %}
</div>
</div>
<!--     <footer>
    <div class="footer-inner">
        <div class="container">
            <div class="footer-content">
                <p>June 19-20th, 2015 – Budapest, Hungary</p>
                <p><small><b>Basic Medical Science Center, Semmelweis University</b><br>
                H-1094 Budapest, Tűzoltó street 37-47.</small></p>
            </div>
        </div>
    </div>
</footer>
-->
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&amp;libraries=places"></script>
{% javascripts  '@jquery' '@bootstrap_js' '@PixeloidAppBundle/Resources/public/js/*' '@PixeloidAppBundle/Resources/public/lib/iCheck/icheck.min.js' %}
<script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}
</body>
</html>