<!DOCTYPE html>
<html>
    <head>
        <title>03. Magyar Klipszemle!{% block title %}{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta property="og:site_name" content="02. Magyar Klipszemle"/>
        <meta property="og:type" content="website" />
        <meta property="og:locale" content="hu_HU" />            <!-- Default -->
        <meta property="fb:app_id" content="646741755492022" />            <!-- Default -->
        
        {% block og_title %}
        <meta property="og:title" content="Harmadik Magyar Klipszemle" />
        {% endblock %}

        {% block og_image %}
        <meta property="og:image"
        content="http://www.klipszemle.com/images/mksz_2016_cover.png" />
        {% endblock %}

        {% block og_description %}
        <meta property="og:description" content="EZ A HARMADIK KLIPSZEMLE WEBKIKÖTŐJE // JELENTKEZÉS // ZSŰRI // MI EZ? // SZERVEZŐK // FAQ // STB." />
        {% endblock %}


        {% block og_url %}
        <meta property="og:url" content="http://www.klipszemle.com" />
        {% endblock %}

        <link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png?v2">
        <link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png?v2">
        <link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png?v2">
        <link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png?v2">
        <link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png?v2">
        <link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png?v2">
        <link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png?v2">
        <link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png?v2">
        <link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png?v2">
        <link rel="icon" type="image/png" sizes="192x192"  href="/android-icon-192x192.png?v2">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png?v2">
        <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png?v2">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png?v2">
        <link rel="manifest" href="/manifest.json">
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="msapplication-TileImage" content="/ms-icon-144x144.png?v2">
        <meta name="theme-color" content="#ffffff">


        {% block stylesheets %}
            <link href="/styles/styles.css" type="text/css" rel="stylesheet" media="all"/>
        {% endblock %}
    </head>
<body class="{% block bodyclass %}{% endblock %}">
    <div id="fb-root"></div>
    <script>
        window.fbAsyncInit = function() {
            // init the FB JS SDK
            FB.init({
                appId      : '646741755492022',                        // App ID from the app dashboard
                status     : true,                                 // Check Facebook Login status
                xfbml      : true                                  // Look for social plugins on the page
            });
        };

        // Load the SDK asynchronously
        (function(d, s, id){
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) {return;}
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/en_US/all.js";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));

        function fb_login() {
            FB.getLoginStatus(function(response) {
                if (response.status === 'connected') {
                    // connected
                    alert('Already connected, redirect to login page to create token.');
                    document.location = "{{ url("hwi_oauth_service_redirect", {service: "facebook"}) }}";
                } else {
                    // not_authorized
                    FB.login(function(response) {
                        if (response.authResponse) {
                            document.location = "{{ url("hwi_oauth_service_redirect", {service: "facebook"}) }}";
                        } else {
                            alert('Cancelled.');
                        }
                    }, {scope: 'email'});
                }
            });
        }
    </script>


<nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand page-scroll" href="/#intro">
            <img src="/images/klipszemle_logo.png" class="" height="50" alt=""/>
            </a>
        </div>
        
        {{ knp_menu_render('PixeloidAppBundle:Builder:secondaryMenu', {'nav_type': '', 'currentAsLink': true, 'currentClass': 'active'}) }}

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
        {{ knp_menu_render('PixeloidAppBundle:Builder:mainMenu', {'nav_type': '', 'currentAsLink': true, 'currentClass': 'active'}) }}
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>



<div class="wrapper">

    {% block body %}{% endblock %}

    <div class="push"></div>


</div>
        



<!-- Footer -->
<footer>
 <div class="container ">
    <div class="row">
        <div class="col-sm-4">
            <ul class="list-unstyled">
                <li><a href="{{ path('pixeloid_app_privacy') }}">Adatvédelmi ismertető</a></li>
            </ul>
        </div>
        <div class="col-sm-4 text-center">
                             <p>Copyright &copy; {{date().format('Y')}}</p>

        </div>

        <div class="col-sm-4">
            {{ knp_menu_render('PixeloidAppBundle:Builder:topMenu', {'nav_type': '', 'currentAsLink': true, 'currentClass': 'active'}) }}

        </div>
    </div>
 </div>
</footer>

<div class="modal" id="main-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content"></div>
    </div>
</div>

<script type="text/javascript" src="/libs/vendor.js"></script>



{% block javascripts %}{% endblock %}

<script type="text/javascript" src="/scripts/app.js"></script>



<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-2124136-46', 'auto');
  ga('send', 'pageview');

</script>
</body>
</html>