{% extends '::base.html.twig' %}

{% block body -%}

    <h1><span>Regisztrációk</span></h1>



    <table class="table table-condensed">
        
        {% for reg in registrations %}
            <tr>
                <td>{{reg.id}}</td>
                <td>{{reg.user.getEmail}}</td>
                <td>{{reg.getFirstname}} {{reg.getLastname}}</td>
                <td>{{reg.getCreated.format('Y. m. d.')}}</td>
                <td>{{reg.getEvent.getTagline}}</td>
                <td>{{reg.getTotalCost|number_format(0, ' ', ' ')}} Ft</td>
                <td><a href="{{path('eventregistration_show', {'id' : reg.getId})}}" class="btn btn-primary">Megnézem</a></td>
            </tr>
        {% endfor %}
        
    </table>
{% endblock %}
