{% extends '::base.html.twig' %}

{% block body -%}
<div class="container">
    <h1><span>Regisztrációk</span></h1>
    <table class="table table-condensed table-reg tablesorter">
    <thead>
        <tr>
            <th>Shortlist?</th>
            <th>#</th>
            <th>Dátum  </th>
            <th>E-mail</th>
            <th>Név</th>
            <th>Szerző</th>
            <th>Dal címe</th>
             <th></th>
        </tr>


    </thead>

    <tbody>
            {% for reg in registrations %}
                <tr {% if  reg.getShortlist %} class="text-success" {% endif %}>
    <td style="font-size: 30px;">
        <span class="hidden">
            {{reg.getShortlist}}
        </span>
        {% if  reg.getShortlist %}
            <i class="fa fa-2  fa-check-circle "></i>
        {% else %}
        <i class="fa fa-2 fa-cross-circle "></i>
            
         {% endif %}


    </td>                <td>{{reg.id}}</td>
                    <td>{{reg.getCreated.format('Y. m. d.')}}</td>
                    <td>{{reg.user.getEmail}}</td>
                    <td>{{reg.getName}}</td>
                    <td>{{reg.getAuthor}}</td>
                    <td>{{reg.getSongTitle}}</td>
                     <td><a href="{{path('eventregistration_show', {'id' : reg.getId})}}" class="btn btn-primary">Megnézem</a></td>


                </tr>
            {% endfor %}
        
    </tbody>
        
    </table>

{# 

<div class="row">
{% for reg in registrations %}

<div class="col-sm-6 col-md-3 col-lg-4">
    <div class="yt-player" data-yt="{{ reg.getVideoUrl }}"></div>
</div>

{% endfor %}
</div>

 #}


</div>
{% endblock %}
