{% extends '::base.html.twig' %}


{% block body -%}

<div class="container">
<div class="row">
    <div class="col-sm-12">

<!--         <h1><span>Event Registration</span></h1>
 -->
        <div class="">
            {% include 'PixeloidAppBundle:FormFlow:stepList.html.twig' %}
        </div>


        {{ form_start(form, {attr: {'data-calculate-url': path('eventregistration_calculate'), 'class': 'eventregistration-form' }}) }}

        {% if flow.getCurrentStepNumber() == 1 %}
        <div class="row">
            <div class="col-sm-4 col-sm-offset-4">
                {{ form_row(form.name) }}
                {{ form_row(form.email) }}
                {{ form_row(form.phone) }}
                {{ form_row(form.user_title) }}
            </div>
        </div>


<!--         <div class="alert alert-success">A továbbképző napon <b>12 kreditpont</b>, a tudományos ülésen való részvétellel <b>30 kreditpont</b> szerezhető. Szakdolgozók részére <b>20 kreditpont</b> szerezhető.</div>

 -->        {% elseif flow.getCurrentStepNumber() == 2 %}


    <div class="row">
        <div class="col-sm-4">
            {{ form_row(form.video_url) }}
            {{ form_row(form.author) }}
            {{ form_row(form.songtitle) }}
            {{ form_row(form.video_publish_date) }}
            {{ form_row(form.description) }}
        </div>
        <div class="col-sm-4">
            {{ form_row(form.producer) }}
            {{ form_row(form.director) }}
            {{ form_row(form.photographer) }}
            {{ form_row(form.designer) }}
            {{ form_row(form.editor) }}
            {{ form_row(form.budget_category) }}
        </div>

        <div class="col-sm-4">
        </div>

    </div>

        {% elseif flow.getCurrentStepNumber() == 3 %}



            <div class="row">
                <div class="col-sm-6">
                    {{ form_row(form.have_rights) }}
                </div>

                <div class="col-sm-6">
                    {{ form_row(form.accept_terms) }}
                </div>

            </div>
{# 
            <div class="row">

                <div class="col-sm-8">
                <div class="">
                <h4>Ellenőrzés</h4>
                <p>Kérünk, az alábbi mezőt piáld ki, hogy megbizonyosodunk róla, te nem vagy egy robot!</p>
                {{ form_widget(form.recaptcha) }}
                {{ form_errors(form.recaptcha) }}
                </div>
                </div>
            </div>      #}
        {% endif %}

        {{ form_rest(form) }}
        <hr>

        {% include 'PixeloidAppBundle:FormFlow:buttons.html.twig' %}

        {{ form_end(form) }}

    </div>



</div>







  
</div>
{% endblock %}
