{% extends '::base.html.twig' %}

{% block body -%}
    <h1><span>Regisztráció visszaigazolás</span></h1>

<div class="text-center">
	<h4>Magyar Gyermekaneszteziológiai és Intenzív Terápiás Társaság<br>2015. évi Tudományos Ülése
</h4>
	
	<h7>Kecskemét, Four Points by Sheraton- 2015. április 24-25.</h7>

</div>
<!--     <p class="text-center">We have sent you a confirmation e-mail to <b>{{ reg.getEmail }}</b>, where you can find further information about your reservation. </p>
 --><hr>
    <h4>Személyes adatok:</h4>
    <div class="row">
        <div class="col-sm-6">
            <dl class="dl-horizontal">
                <dt>Név: </dt>
                <dd>{{ reg.getFirstname }} {{ reg.getLastname }}</dd>
                <dt>Pecsétszám: </dt>
                <dd>{{ reg.getRegnumber }}</dd>
                <dt>Munkahely: </dt>
                <dd>{{ reg.getInstitution }}</dd>
                <dt>Levelezési cím: </dt>
                <dd>{{ reg.getPostal }} {{ reg.getCity }}<br>{{ reg.getAddress }}</dd>
            </dl>
        </div>
        <div class="col-sm-6">
            <dl class="dl-horizontal">
                <dt>Telefonszám: </dt>
                <dd>{{ reg.getPhone }}</dd>
                <dt>Fax: </dt>
                <dd>{{ reg.getFax }}</dd>
                <dt>Email: </dt>
                <dd>{{ reg.getEmail }}</dd>
                <dt>Regisztráció tipusa:</dt>
                <dd>{{ reg.getRegistrantType.getName }}</dd>
            </dl>
        </div>
    </div>

<p><small>A regisztrációs díj tartalmazza a tudományos programon való részvételt, a kiállítás megtekintését, programfüzetet, névkitűzőt, kongresszusi táskát, részvételi igazolást, valamint kávészüneti ellátást. </small></p>
    		<p class=" text-right">
    			Regisztrációs díj: <b>{{reg.getRegistrantType.getPriceBefore|number_format(0, ' ', ' ' ) }} Ft</b>
    		</p>

    <hr>
    <h4>Kiegészítő események</h4>
        

        <div class="row">
            <div class="col-sm-4">
                <p>
                    <b>Továbbképző nap:</b>
                        {% if reg.getExtra1 %}
                            <span class="glyphicon glyphicon-ok text-success"></span> 
                        {% else %}
                            <span class="glyphicon glyphicon-remove text-danger"></span> 
                        {% endif %}
                </p>

            </div>
            <div class="col-sm-4">
                <p>
                    <b>Mentő oktatópont workshop:</b>
                        {% if reg.getExtra2 %}
                            <span class="glyphicon glyphicon-ok text-success"></span> 
                        {% else %}
                            <span class="glyphicon glyphicon-remove text-danger"></span> 
                        {% endif %}
                </p>

            </div>
            <div class="col-sm-4">
                <p>
                    <b>UH oktatás workshop:</b>
                        {% if reg.getExtra3 %}
                            <span class="glyphicon glyphicon-ok text-success"></span> 
                        {% else %}
                            <span class="glyphicon glyphicon-remove text-danger"></span> 
                        {% endif %}
                </p>

            </div>
        </div>
        <hr>

        <h4>Étkezés</h4>


        {% if reg.getDiningReservation.getSpecial %}
        <p>Speciális igény: {{reg.getDiningReservation.getSpecial}}</p>
        {% endif %}


         {% set datesArray = [] %}
        
        {% for dining in event.getDinings %}
            {% for date in dining.diningDates %}
                    {% if date.date not in datesArray %}
                     {% set datesArray = datesArray|merge([date.date])  %}
                    {% endif %}
            {% endfor %}


        {% endfor %}
        {% set datesArray = datesArray|sort %}


         <table class="table table-decorated">
            
            <tr>
                <th></th>
                {% for date in datesArray %}
                    <th>{{date}}</th>
                {% endfor %}
            </tr>

             {% for dining in event.getDinings %}
                 <tr>
                     
                    
                      <td> {{ dining.diningType.name }} ({{dining.price|number_format(0, ' ', ' ')}} Ft / fő)</td>

                      {% for date in datesArray %}
                          <td class="text-center">
                              {% for diningDate in reg.getDiningReservation.getDiningDates %}
                                    {% if diningDate.date == date and diningDate.getDining == dining %} <span class="glyphicon glyphicon-ok text-success"></span>  {% endif %}
                              {% endfor %}
                          </td>
                      {% endfor %}


                </tr>
            {% endfor %}
        
        
        </table>

		
		<div class="row">
			<div class=" col-sm-4 col-sm-offset-8">
				<p class=" text-right">Étkezés összesen: <b>{{reg.getDiningReservation.getTotalCost|number_format(0, ' ', ' ')}} Ft</b>
				</p>
			</div>
			
		</div>
    <hr>
        <h4>Szállás</h4>

        <div class="row">
        	<div class="col-sm-6">
        	<dl class='dl-horizontal'>
        		<dt>Szálloda:</dt>
        		<dd>{{reg.getRoomReservation.getRoom.getAccomodation.getName}} – <a href="{{reg.getRoomReservation.getRoom.getAccomodation.getUrl}}">{{reg.getRoomReservation.getRoom.getAccomodation.getUrl}}</a></dd>
        		<dt>Szoba tipusa:</dt>
        		<dd>{{reg.getRoomReservation.getRoom.getRoomType.getName}}</a></dd>
        		<dt>Szoba ára:</dt>
        		<dd>{{reg.getRoomReservation.getRoom.getPrice|number_format(0, ' ', ' ')}} Ft / fő / éj</a></dd>
        	</dl>
        	</div>
        	<div class="col-sm-6">
        	<dl class='dl-horizontal'>
        		<dt>Check-in:</dt>
        		<dd>{{reg.getRoomReservation.getCheckIn.format('Y-m-d')}}</a></dd>
        		<dt>Check-out:</dt>
        		<dd>{{reg.getRoomReservation.getCheckOut.format('Y-m-d')}}</a></dd>
        		<dt>Éjszakák:</dt>
        		<dd>{{reg.getRoomReservation.getNumDays}}</a></dd>
        		<dt>Szobatárs:</dt>
        		<dd>{{reg.getRoomReservation.getRoommate}}</a></dd>
        	</dl>
        	</div>
        </div>


        <div class="row">
        	<div class=" col-sm-4 col-sm-offset-8">
        		<p class=" text-right">
        			Szállás díja összesen: <b>{{reg.getRoomReservation.getTotalCost|number_format(0, ' ', ' ')}} Ft</b>
        		</p>
        	</div>
        	
        </div>



	<hr>
	        <div class="row">
	        <div class="col-sm-8">
	        	<p>A megrendelt szolgáltatásokról a Mis &amp; Bos Kft. visszaigazolást küld. <b>A szálláshelyeket a beérkezett foglalások sorrendjében tudjuk csak visszaigazolni.</b>
	        	<p>A részvételt, az étkezést és a szállás foglalást csak akkor tekintjük véglegesnek, ha a részvételi díj, az étkezés és szállás díja bankszámlánkra beérkezett.</p>
	        	</p>
	        </div>
        	<div class=" col-sm-4 ">
        		<div class="well text-right">
        			<h4>Összesen fizetendő: <b>{{reg.getTotalCost|number_format(0, ' ', ' ')}} Ft</b><br><small>Az árak az általános forgalmi adót tartalmazzák <br>(regisztráció, étkezések: 27%, szállás: 18%)</small></h4>
        		</div>
        	</div>
        	
        </div>
	        
	        <hr>

	       <h4>Fizetési mód: 
				{% if reg.getPaymentMethod == 'sponsored' %}Szponzorált részvétel {% else %} Banki átutalás {% endif %}

	      </h4>

			<p>Számlát csak a megadott címre tudunk kiállítani a beérkezett összeg bankszámlánkon történő jóváírását követően. A számla kiállítását követően másik számlát küldeni, illetve számlát korrigálni nem áll módunkban. Amennyiben a jelentkezési lapon nem kerül feltüntetésre külön a számlázási cím, a számlát automatikusan a résztvevő nevére és címére állítjuk ki.</p>

			{% if reg.getPaymentMethod == 'sponsored' %}
			<dl class="dl-horizontal">
				<dt>Számlázási név</dt>
				<dd>{{reg.getBillingNameSponsored}}</dd>
				<dt>Számlázási cím</dt>
				<dd>{{reg.getBillingAddressSponsored}}</dd>
				<dt>Kontakt személy:</dt>
				<dd>{{reg.getBillingContactPersonSponsored}}</dd>
			</dl>


			{% else %}

			<p>Kérjük, hogy részvételi díját, valamint étkezés és szállás költségét az alábbi bankszámlaszámra átutalni szíveskedjen: <b>Budapest Bank 10101016-56852000-01000009</b>.</p> 
			<p>A közlemény rovatban <b>kérjük megadni a résztvevő</b>, valamint a kongresszus nevét – <b>MGYAITT2015.</b></p>
			
			<dl class="dl-horizontal">
				<dt>Számlázási név:</dt>
				<dd>{{reg.getBillingNameTransfer}}</dd>
				<dt>Számlázási cím:</dt>
				<dd>{{reg.getBillingAddressTransfer}}</dd>
			</dl>

			{% endif %}


	<hr>

<p>	<b>Lemondás, módosítás, visszafizetés:</b></p>
<p>	Kötbérmentes lemondási határidő: 2015. április 1., amit a Mis &amp; Bos Kft. címére írásban kell eljuttatni. Lemondást és módosítást kizárólag írásban fogadunk el az <a href="maito:mgyaitt2015@misandbos.hu">mgyaitt2015@misandbos.hu</a> e-mail címre megküldve. 2015. április 1. után beérkezett lemondások esetén a részvételi díj és a megrendelt szolgáltatások díjának visszafizetése nem áll módunkban. </p>
<p>	<b>Felelősség- és egyéb biztosítás:</b></p>
<p>	A kongresszus közzétett részvételi és egyéb díjai nem tartalmaznak baleset-, betegség-, poggyász- és felelősségbiztosítási díjat. Így baleset, betegség vagy valamely káresemény bekövetkezése esetén a szervezőknek nem áll módjukban semmilyen felelősséget vagy kártérítést vállalni.</p>
<p>	A fenti tájékoztatót és a lemondási feltételeket tudomásul vettem és rám nézve kötelezőnek tartom.</p>



{% endblock %}
