<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title></title>
</head>
<body>


<h3>Tisztelt {{ entity.getFirstname }} {{ entity.getLastname }}!</h3>

<p>Köszönjük jelentkezését a Magyar Gyermekaneszteziológiai és Intenzív Terápiás Társaság
2015. évi Tudományos Ülésére. </p>
<p>
    A jelentkezésének részleteit <a href="{{url('eventregistration_show', {'id': entity.getId})}}">az alábbi linken éri el.</a>
</p>
{% if plainpass %}
<p>A bejelentkezéshez szükséges adatok:</p>
<p>Felhasználónév: {{entity.getUser.getEmail}}<br>Jelszó: {{plainpass}}</p>
{% endif %}
<p>Esetleges kérdéseit az <a href="mailto:mgyaitt2015@misandbos.hu">mgyaitt2015@misandbos.hu</a> e-mail címre várjuk.</p>



<p>Üdvözlettel: <br>
 Szabó Bernadett<br>
 Mis &amp; Bos Kft.
</p>
<p>Tel.: +36 1 999 07 80</p>
</body>
</html>

