{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Thank you for registration!</h1>

    <p class="text-center">We have sent you a confirmation e-mail to <b>{{ entity.email }}</b>, where you can find further information about your reservation. </p>

    <div class="row">
        <div class="col-sm-6">
        <h3>Your personal details</h3>
            <table class="table table-condensed">
                <tbody>
                    <tr>
                        <th>Name</th>
                        <td>{{ entity.title }} {{ entity.firstname }} {{ entity.lastname }}</td>
                    </tr>
                    <tr>
                        <th>Institution</th>
                        <td>{{ entity.institution }}</td>
                    </tr>
                    <tr>
                        <th>Address</th>
                        <td>{{ entity.address }} <br> {{ entity.city }} <br>{{ entity.country }} {{ entity.postal }}  <br></td>
                    </tr>
                    <tr>
                        <th>Phone</th>
                        <td>{{ entity.phone }}</td>
                    </tr>
                    <tr>
                        <th>Fax</th>
                        <td>{% if  entity.fax  %} {{ entity.fax }} {% else %} N/A{% endif %}</td>
                    </tr>
                    <tr>
                        <th>Email</th>
                        <td>{{ entity.email }}</td>
                    </tr>
                </tbody>
            </table>

        </div>
        <div class="col-sm-6">
        <h3>Your accomodation reservation</h3>

        {% if entity.reservation %}

            <table class="table table-condensed">
                <tbody>
                    <tr>
                        <th>Accomodation:</th>
                        <td>{{ entity.reservation.accomodation.name }}</td>
                    </tr>
                    <tr>
                        <th>Check-in</th>
                        <td>{{ entity.reservation.checkIn.format('Y-m-d') }}</td>
                    </tr>
                    <tr>
                        <th>Check-out</th>
                        <td>{{ entity.reservation.checkOut.format('Y-m-d') }}</td>
                    </tr>
                    <tr>
                        <th>Room type</th>
                        <td>{{ entity.reservation.roomType }}  <br></td>
                    </tr>
                    <tr>
                        <th>Persons</th>
                        <td>{{ entity.reservation.persons }}</td>
                    </tr>
                    <tr>
                        <th>Total cost</th>
                        <td>{{ entity.reservation.getTotalCost() }} EUR</td>
                    </tr>
                </tbody>
            </table>
            {% else %}
            No accomodation reservation
            {% endif %}
        </div>
    </div>
{% endblock %}
