{% extends 'base.html.twig' %}


{% block body -%}

    <div class="container">

        <div class="text-center">
            <br><br><br>
            <h2>Nevezés</h2>
        </div>

        {% if is_granted('EVENTREGISTRATION_CREATE') %}

            <div class="row">
                <div class="col-sm-12">


                    {{ form_start(form, {attr: { 'class': 'eventregistration-form' }}) }}


                    <div class="row">
                        <div class="col-sm-4">
                            {{ form_row(form.video_url) }}
                            {{ form_row(form.author) }}
                            {{ form_row(form.songtitle) }}
                            {{ form_row(form.video_publish_date) }}
                            {{ form_row(form.description) }}
                        </div>
                        <div class="col-sm-4">
                            {{ form_row(form.producer) }}
                            {{ form_row(form.director) }}
                            {{ form_row(form.photographer) }}
                            {{ form_row(form.designer) }}
                            {{ form_row(form.stylist) }}
                            {{ form_row(form.editor) }}
                            {{ form_row(form.budget_category) }}
                            {{ form_row(form.extra_info) }}
                        </div>

                        <div class="col-sm-4">
                            {{ form_row(form.premiere) }}
                            {{ form_row(form.no_premiere) }}
                            {{ form_row(form.accept_terms) }}
                            {{ form_row(form.submit) }}

                        </div>

                    </div>


                    {{ form_rest(form) }}
                    <hr>


                    {{ form_end(form) }}

                </div>


            </div>

        {% else %}
            <h4 class="text-center" style="line-height: 1.5;">
                <b>
                    A nevezéshez <a href="{{ path('app_login') }}">lépj be</a>, <br> vagy <a href="{{ path('app_register') }}">regisztrálj</a>,
                    <br> ha még nincs fiókod!
                </b>
            </h4>
        {% endif %}



    </div>
{% endblock %}
