<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title></title>
</head>
<body>





<h3>Hello {{ entity.getName }}!</h3>


Gratulálunk, bejutott a kliped a 06. Magyar Klipszemle műsorába:  <br>
<b>{{ entity.author }} - {{ entity.songtitle }}</b> <br><br>
Kérünk, szeptember 26. vasárnap éjfélig töltsd fel a klipet erre a felületre: <br>

<br>
<b>
  <a href="https://www.dropbox.com/request/{{ entity.dropboxrequest }}">https://www.dropbox.com/request/{{ entity.dropboxrequest }}</a>
</b>
<br>
<br>


Törekedj arra, hogy a fellelhető legjobb formátumot használd! <br>
Igen, a YT-ra került verzió is oké lesz. Bízunk benne, hogy nem 720p vagy annál kevesebb. (És ha animációs klipet küldesz, lehetőleg az se legyen sokkal nagyobb kb 500 megánál.)
<br>
<br>
Amenyiben több videóval neveztél, de a többiről nem küldtünk e-mailt, még nem feltétlen van okod aggodalomra, több adagban kérjük be a klipeket.
<br>
<br>Várunk október 14-én az Akváriumban! A részletekkel még jelentkezünk. <br>
<br>
Kösz, ha hírét viszed: <br>
<a href="https://www.facebook.com/klipszemle">https://www.facebook.com/klipszemle</a> <br>

<br>
 <br>Üdv, <br>
a Szervezőség <br>
<br>

</body>
</html>

