{% if size is not defined %}
	{% set size = 'maxresdefault' %}
{% endif %}
		
		<div class="video-item__image">
			<img src="http://img.youtube.com/vi/{{ video.videourl|yt_id }}/{{ size }}.jpg">

			<div class="video-item__text-holder">
				<h3 class="video-item__text video-item__text--author">{{ video.author|truncate(40, '...') }}
				<h4 class="video-item__text video-item__text--song">{{ video.songtitle|truncate(60, '...')  }}</h4>
			</div>
			{% if is_granted('ROLE_ADMIN')  %}

			<span class="video-item__text video-item__text--numvotes">
				{% if video.numvotes is defined %}{{video.numvotes}}{% endif %}
			</span>
			
			{% endif %}
		</div>
