<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="hu">
<head>
    <title></title>
</head>
<body>


<h3>Hello {{ er.user.lastName }} {{ er.user.firstName }} !</h3>

<p>Gratul&aacute;lunk, bejutott a kliped a Haj&oacute;gy&aacute;r x 06. Magyar Klipszemle műsor&aacute;ba!&nbsp;</p>

<p>    <strong>{{ er.author }}: {{ er.songTitle }}</strong></p>

<p>K&eacute;r&uuml;nk, hogy szeptember 30., p&eacute;ntek &eacute;jf&eacute;lig t&ouml;ltsd fel a vide&oacute;t erre a fel&uuml;letre:&nbsp;</p>

<p>
    <a href="https://www.dropbox.com/request/{{ er.dropboxRequest }}">https://www.dropbox.com/request/{{ er.dropboxRequest }}</a>
</p>

<p>T&ouml;rekedj arra, hogy a fellelhető legjobb form&aacute;tumot haszn&aacute;ld!&nbsp;</p>

<p>Igen, a YT-ra ker&uuml;lt verzi&oacute; is ok&eacute; lesz. B&iacute;zunk benne, hogy nem 720p vagy ann&aacute;l kevesebb. (&Eacute;s ha anim&aacute;ci&oacute;s klipet k&uuml;ldesz, lehetőleg az se legyen sokkal nagyobb kb 5-700 meg&aacute;n&aacute;l.)</p>

<p>Amennyiben t&ouml;bb alkot&aacute;ssal nevezt&eacute;l, de a t&ouml;bbiről nem k&uuml;ldt&uuml;nk e-mailt, m&eacute;g nem felt&eacute;tlen van okod aggodalomra, t&ouml;bb adagban k&eacute;rj&uuml;k be a klipeket.&nbsp;</p>

<p>V&aacute;runk okt&oacute;ber 13-&aacute;n az Akv&aacute;riumban! A r&eacute;szletekkel m&eacute;g jelentkez&uuml;nk.</p>

<p>&Uuml;dv,&nbsp;<br />
    a Szervezős&eacute;g&nbsp;</p>

<p>https://www.facebook.com/klipszemle</p>

<p><br />
    &nbsp;</p>

<p>&nbsp;</p>

</body>
</html>

