{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}

<div class="container user-form">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">


        <h3>Regisztr치ci칩</h3>

    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.last_name) }}
        {{ form_row(registrationForm.first_name) }}
        {{ form_row(registrationForm.phone) }}
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}
        {{ form_row(registrationForm.agreeTerms) }}

        <button type="submit" class="btn btn-primary">Regisztr치ci칩</button>
    {{ form_end(registrationForm) }}
        </div>
    </div>
</div>
{% endblock %}
