 {% set vote = false %}
                    {% for jv in video.juryvotes %}
                        {% if jv.user == app.user %}
                            {% set vote = jv %}
                        {% endif %}
                    {% endfor %}
                          <tr data-id="{{ video.id }}" class="{{ vote ? 'rated' }}">
                            <td>      <img src="https://img.youtube.com/vi/{{ video.ytId }}/mqdefault.jpg" height="80">
                    </td>
                            <td>{{ video.author }} - {{ video.songtitle }}</td>
                            <td>
                              {% if vote and vote.best  %}
                                  <i class="fa fa-check"></i>
                              {% endif %}

                            </td>
                            <td>
                              {% if vote and vote.specialprize  %}
                                  <i class="fa fa-check"></i>
                              {% endif %}


                            </td>
                            <td>
                              {% if vote  %}
                                {% for i in range(1,vote.rate) %}
                                    <i class="fa fa-star"></i>
                                {% endfor %}
                                ({{ vote.rate }})
                              {% endif %}

                            </td>
                            <td>
                              {% if vote  %}
                                <a href="{{ path('rate_video', {id: video.id}) }}" class="btn btn-warning show-rate-video">Módosítom</button>
                              {% else %}
                                  <a href="{{ path('rate_video', {id: video.id}) }}" class="btn btn-success show-rate-video">Értékelem</button>
                              {% endif %}
                            </td>
                          </tr>
