 {% set vote = false %}
                          <tr data-id="{{ video.id }}" >

                            <td>{{ video.id }}</td>
                            <td>      <img src="https://img.youtube.com/vi/{{ video.yt_id }}/mqdefault.jpg" height="80">
                    </td>
                            <td>
                                
                                <a href="https://youtube.com/watch/{{ video.yt_id }}">https://youtube.com/watch/{{ video.yt_id }}</a>
                            </td>

                    <td>{{ video.author }} - {{ video.songtitle }}</td>
                    <td>{{ video.numvotes }}</td>
                    <td>{{ video.sumvotes }}</td>
                    <td>{{ video.avgrating }}</td>
                    <td>{{ video.sumbest }}</td>
                    <td>{{ video.sumspecial }}</td>
                    <td>{{ video.info|default('') }}</td>
     </tr>
