


<div class="rate-form">
  <div class="video-item video-item--vote" data-current-id="{{ video.id }}">
    <div id="player" data-video-id="{{ video.getVideoUrl|yt_id }}">     </div>

      {% set size = 'hqdefault' %}
        
        <div class="video-item__image">
          <img src="http://img.youtube.com/vi/{{ video.videourl|yt_id }}/{{ size }}.jpg">

          <div class="video-item__text-holder">
            <h5 class="video-item__text video-item__text--cat">{{ video.moviecategories.first.category.name  }}</h>
            <h3 class="video-item__text video-item__text--author">{{ video.author}}
            <h4 class="video-item__text video-item__text--song">{{ video.songtitle  }}</h4>
          </div>
          {% if is_granted('ROLE_ADMIN')  %}

          <span class="video-item__text video-item__text--numvotes">
            {% if video.numvotes is defined %}{{video.numvotes}}{% endif %}
          </span>
          
          {% endif %}
        </div>
    <a href="#" class="video-item__btn video-item__btn--play">Lejátszom</a>
    <a href="#" class="video-item__btn video-item__btn--close"><i class="fa fa-times" aria-hidden="true"></i></a>
    <a href="#" class="video-item__btn video-item__btn--stop"><i class="fa fa-stop" aria-hidden="true"></i></a>
    <script>
    </script>
  </div>

  <div class="rate-form-wrapper">
    {{ form(form) }}
  </div>

</div>


