{% extends 'base.html.twig' %}
{% block body %}
	
<header class="intro" id="intro">
     <div class="intro-body">
         <div class="container">
             <div class="row">
                 <div class="col-md-4 col-md-offset-4">
                 	<br><br><br>
                     <h1 class="brand-heading text-center">

                     
                     {% image '@PixeloidAppBundle/Resources/public/images/klipszemle_logo.png' %}
                     	<img src="{{ asset_url }}" class="img-responsive"  alt=""/>
                     {% endimage %}


                     </h1>
                     <p class="intro-text">2015. szeptember 17-18.<br>Toldi Mozi</p>
                     <a href="#about" class="btn btn-circle page-scroll">
                         <i class="fa fa-angle-double-down animated"></i>
                     </a>
                 </div>
             </div>
         </div>
     </div>
 </header>

 <section id="about" class="container content-section ">
     <div class="row">
         <div class="col-lg-12">
             <h2>MI AZ A KLIPSZEMLE?</h2>
             <p>A  Magyar Klipszemle a magyar vonatkozású zenei videók első szakmai versenye. Magyarországon heti szinten több tucat videoklip készül, ami a legjobb esetben egy kiemelkedő online megtekintési szám elérésén kívül nem kap kellő figyelmet. Ezen változtatunk. Célunk egy olyan itthon egyedülálló, független rendezvény létrehozása, ami ezen alkotások művészi értékét kiemelve, nagy vásznon prezentálja a média, a szakma és a közönség számára.</p>
<p>A szemlének másodlagos célja, hogy edukáljon és koncentráltan információkat továbbítson a szakmának, a zenészeknek, zenei managereknek és kiadóknak egyaránt. Az online nevezést egy szeptemberi kétnapos rendezvény követi a Toldiban, ahol vetítések, zsűrizés, Q&A-ek, workshopok és party várja a szakmát és a klipekre fogékonyakat.</p>
<p>Az első szemle az elmúlt öt év klipjeire koncentrál, az ezután következők az aktuális év termését versenyeztetik majd. A 2010 előtti alkotásokat külön kategóriában versenyeztetjük. 
</p>

             </div>
     </div>
 </section>

  <section id="jury" class="container content-section ">
              <h2>A ZSŰRI</h2>

 			<div class="row">
 				<div class="col-sm-2 jury-person">
 					{% image '@PixeloidAppBundle/Resources/public/images/zsuri1.png' output='images/zsuri1.png' %}
 						<img src="{{ asset_url }}" class="img-responsive"  alt=""/>
 					{% endimage %}
 					<h3>Ács Dani - a 444.hu újságírója</h3>
 				</div>
 				<div class="col-sm-2 jury-person">
 					{% image '@PixeloidAppBundle/Resources/public/images/zsuri2.png'  output='images/zsuri2.png'%}
 						<img src="{{ asset_url }}" class="img-responsive"  alt=""/>
 					{% endimage %}
 					<h3>Dobos Tamás - operatőr</h3>

 				</div>
 				<div class="col-sm-2 jury-person">
 					{% image '@PixeloidAppBundle/Resources/public/images/zsuri3.png'  output='images/zsuri3.png'%}
 						<img src="{{ asset_url }}" class="img-responsive"  alt=""/>
 					{% endimage %}
 					<h3>Izil - a Petőfi Rádió zenei szerkesztője</h3>
 				</div>
 				<div class="col-sm-2 jury-person">
 					{% image '@PixeloidAppBundle/Resources/public/images/zsuri4.png' output='images/zsuri4.png' %}
 						<img src="{{ asset_url }}" class="img-responsive"  alt=""/>
 					{% endimage %}
 					<h3>Libor Anita - az index.hu kultúra rovatvezetője</h3>


 				</div>
 				<div class="col-sm-2 jury-person">
 					{% image '@PixeloidAppBundle/Resources/public/images/zsuri5.png'  output='images/zsuri5.png'%}
 						<img src="{{ asset_url }}" class="img-responsive"  alt=""/>
 					{% endimage %}
 					<h3>Oltai Kata - művészettörténész</h3>

 				</div>
 				<div class="col-sm-2 jury-person">
 					{% image '@PixeloidAppBundle/Resources/public/images/zsuri6.png'  output='images/zsuri6.png'%}
 						<img src="{{ asset_url }}" class="img-responsive"  alt=""/>
 					{% endimage %}
 					<h3>Vágvölgyi B. András  - filmrendező</h3>
 				</div>
 			</div>
  </section> <section id="we-are" class="container content-section ">
	 <h2>A szervezők</h2>
         <div class="row">
			<div class="col-sm-3 staff">
			{% image '@PixeloidAppBundle/Resources/public/images/manek.png' %}
				<img src="{{ asset_url }}" class="img-responsive"  alt=""/>
			{% endimage %}

				<h3>■ Csete Gábor / Manek</h3>
			</p>			
			</div>
			<div class="col-sm-3 staff">

			{% image '@PixeloidAppBundle/Resources/public/images/miki357.png' %}
				<img src="{{ asset_url }}" class="img-responsive"  alt=""/>
			{% endimage %}

				<h3>■ miki357</h3>
			</div>
			<div class="col-sm-3 staff">
			{% image '@PixeloidAppBundle/Resources/public/images/vidavera.png' %}
				<img src="{{ asset_url }}" class="img-responsive"  alt=""/>
			{% endimage %}

				<h3>■ Vida Vera</h3>
			</div>

			<div class="col-sm-3 staff">
			{% image '@PixeloidAppBundle/Resources/public/images/vermesorsi.png' %}
				<img src="{{ asset_url }}" class="img-responsive"  alt=""/>
			{% endimage %}

				<h3>■ Vermes Orsolya</h3>
			</div>

         </div>
 </section>


 <section id="contact" class="container content-section ">
			<div class="row">
				<div class="col-sm-6">
					<h2>Kapcsolat</h2>
				</div>
				<div class="col-sm-6">
<ul class="list-unstyled"><li>				info@klipszemle.hu</li>
				<li>				Sajtó akkreditáció: sajto@klipszemle.hu </li>
				<li>				Cím: Toldi Malomkő Kft. 1054 Budapest, Bajcsy-Zsilinszky út 36-38.</li>
				</ul>				</div>
			</div>
 </section>
 <section id="faq" class="container content-section ">
		 <h2>FAQ</h2>
			<div class="row">
				<div class="col-sm-6">
					<dl>
						<dt>Benevezhetem a kedvenc klipemet?</dt>
						<dd>					
					Nem, csak akkor ha te vagy a kedvenc kliped rendezője vagy kiadója vagy gyártócége, esetleg előadója. </dd>
					</dl>
					<dl>
						<dt>Vimeon van csak fent a klipem. Mit csináljak?</dt>
						<dd>Akkor az a legjobb, ha feltöltöd egy unlisted youtube linkre és azzal nevezel. </dd>
					</dl>
					<dl>
						<dt>A link a végleges nevezésem? A file nem kell nektek?</dt>
						<dd>De, a shortlistre jutott klipeket külön emailben kérjük majd be.</dd>
					</dl>
					<dl>
						<dt>Eddig online vagy tv-ben be nem mutatott klippel is lehet nevezni, lehet a klip premierje a szemle?</dt>
						<dd>Természetesen, szívesen vesszük. A nevezéshez egy unlisted youtube linkre lesz szükséged. A beérkezett anyagokat bizalmasan kezeljük és csak a szervezők és a zsűri fogja látni a szemlééig</dd>
					</dl>
					<dl>
						<dt>Fan videoval lehet nevezni?</dt>
						<dd>Idén nem, jövőre lehet, hogy lesz ilyen kategória is.</dd>
					</dl>
					<dl>
						<dt>Ha felhasználtok részletet a klipemből promóciós célra, kapok érte pénzt?</dt>
						<dd>Nem. Mi sem kapunk. </dd>
					</dl>

					<dl>
						<dt>Mik a “videoklip jelöléséhez szükséges jogok/engedélyek”, amikkel rendelkeznem kell?
					</dt>
						<dd>A jelentkezési űrlapon megadtad a klippel kapcsolatos jogosultságod (előadó, gyártócég, stb). A közül valamelyikkel. </dd>
					</dl>

					<dl>
						<dt>Ha egyik jogcím se érvényes rám, úgy is jelentkezhetek?</dt>
						<dd>Nem. </dd>
					</dl>
					<dl>
						<dt>Publikusak az infók, amiket beírok a jelentkezésbe?</dt>
						<dd>Kizárólag a szemlét érintő belső használatra szükségesek. </dd>
					</dl>

					


					
					


				</div>
				<div class="col-sm-6">

				<dl>
					<dt>Elrontottam valamit az adatlap kitöltésénél, újra kitölthetem?</dt>
					<dd>Igen. </dd>
				</dl>
				

				<dl>
					<dt>Nem akarom youtube-ra tölteni, tolhatom a klipet file-küldőn?</dt>
					<dd>Nem sajnos. Rakd unlisted-re!</dd>
				</dl>
				<dl>
					<dt>Minden jelölt klip biztosan versenybe kerül?</dt>
					<dd>Nem, 100 videó kerül shortlistre.</dd>
				</dl>
				<dl>
					<dt>Ha a megjelölt kategóriában nem jutok tovább, lehet más kategóriára is jelentkezni? </dt>
					<dd>Akkor már nem. Jövőre!</dd>
				</dl>
				<dl>
					<dt>Egy ember hány klippel nevezhet?</dt>
					<dd>Bármennyivel.</dd>
				</dl>
				<dl>
					<dt>Ha hosszabb a klip, mint az átlag 3-3,5 perc, akkor is végignézitek, vagy ne is jelöljem? </dt>
					<dd>Persze!</dd>
				</dl>
				<dl>
					<dt>Ha bekerülök, mennyi elfoglaltságot jelent ez? Mikor kell mindenképp ott lenni?</dt>
					<dd>Szeptember 18-án a Toldiban!</dd>
				</dl>
				
				
			<dl><dt>				Vidékről jönnék. ha versenyben leszünk, fizetitek az utazás költségeit és/vagy tudtok segíteni szállást intézni?</dt>
			<dd>Sajnos nem.</dd>
			</dl>

			<dl>
				<dt>A vetítések és a bulik ingyenesek?</dt>
				<dd>A vetítések igen, a buli nem.</dd>
			</dl>

			<dl>
				<dt>Ha nyernék, de nem tudunk ott lenni az eseményen, odaadjátok a díjat másnak?</dt>
				<dd>Telefonon egyeztetünk majd, de megoldjuk!</dd>
			</dl>

				
				

				

				

				


				</div>
			</div>
 </section>

{% endblock %}