{% extends 'base.html.twig' %}
{% block body %}
   <div class="container content-section">
      <h1>FAQ</h1>
      {% for g,group in faq %}
         <h2>{{ group.title }}</h2>
         <div class="panel-group faq" id="accordion-{{g}}">
            {% for i,item in group.items %}
               <div class="panel panel-default">
                  <div class="panel-heading">
                     <h4 class="panel-title">
                     <a data-toggle="collapse" data-parent="#accordion-{{g}}" href="#collapse{{ i }}">{{ item.0 }}</a>
                     </h4>
                  </div>
                  <div id="collapse{{ i }}" class="panel-collapse collapse">
                     <div class="panel-body">{{ item.1 }}</div>
                  </div>
               </div>
            {% endfor %}
         </div>
      {% endfor %}
   </div>
{% endblock %}