{% extends 'base.html.twig' %}
{% block body %}


<div class="heroes">

    {% if is_granted('EVENTREGISTRATION_CREATE') %}
        <a href="{{ path('eventregistration_new') }}">Nevezés</a>
    {% endif %}

    <img src="/images/hero_dt.svg" alt="Hajógyár x 06. Magyar Klipszemle" class="desktop">
    <img src="/images/hero_mo.svg" alt="Hajógyár x 06. Magyar Klipszemle" class="mobile">

  <div class="swiper-container">
    <div class="swiper-wrapper">
      {% for hero in heroes %}
        <div class="swiper-slide">
          <div class="hero">
              <div class="container">
                  {% if hero.title %}
                      <div class="grid">
                          <div class="col col--1">
                              <div class="hero__content">
                                  <h1><span>{{ hero.title }}</span></h1>
                                  <p>{{ hero.description }}</p>
                                  <a href="{{ hero.url }}" class="btn btn-primary">{{ hero.buttontext }}</a>
                              </div>
                          </div>
                          <div class="col col--2">
                              {{ sonata_media(hero.image, 'big',{'srcset': ['small', 'big'], class: "img-responsive"}) }}
                          </div>
                      </div>
                      {% else %}
                          <a href="{{ hero.url }}" >

                          {{ sonata_media(hero.image, 'big',{'srcset': ['small', 'big'], class: "img-responsive"}) }}
                          </a>
                  {% endif %}

              </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</div>
{# 
<div class="cta">
    <a href="{{ path('eventregistration_new') }}" class="btn btn-black btn-lg">Nevezés <i class="fas fa-arrow-right"></i> </a>
</div>
 #}
<div class="container content-section">

    <div class="grid grid--1">
        <div class="col col--1">

            <img src="/images/player.svg" alt="" class="icon">
            <img src="/images/intro_1.jpg" alt="" class="img-responsive">
        </div>
        <div class="col col--2">
            <div class="about__text">
                <h2>MI A KLIPSZEMLE?</h2>
                <p>Nyolc &eacute;vvel ezelőtt eszm&eacute;lt&uuml;nk r&aacute; a fura t&eacute;nyre, hogy nincs a magyar zenei vide&oacute;knak versenye. Heti szinten k&eacute;sz&uuml;lnek remek alkot&aacute;sok itthon, amik, ha &uacute;gy dobja a g&eacute;p, a vil&aacute;gh&aacute;l&oacute; &eacute;rdektelens&eacute;g&eacute;be fulladhatnak.&nbsp;</p>
                <p>Ez&eacute;rt ind&iacute;tottuk el a Magyar Klipszeml&eacute;t, ahol az alkot&aacute;sok műv&eacute;szi &eacute;rt&eacute;k&eacute;t kiemelve, az itthon legmagasabb minős&eacute;gű vet&iacute;t&eacute;si technik&aacute;val, sz&eacute;les v&aacute;sznon mutatjuk be az &eacute;v legjobb zenei vide&oacute;it a m&eacute;dia, a szakma &eacute;s az &eacute;rdeklődők fel&eacute;.&nbsp;</p>
                <p>K&ouml;z&ouml;ns&eacute;g&uuml;nk heterog&eacute;ns&eacute;ge a mainstreamből &eacute;s a r&eacute;tegkult&uacute;r&aacute;b&oacute;l, a rajong&oacute;kb&oacute;l, az alkot&oacute;kb&oacute;l &eacute;s az előad&oacute;kb&oacute;l &aacute;ll. A verseny l&eacute;te &eacute;s fontoss&aacute;ga m&aacute;ra kőbe lett v&eacute;sve, a szemle helysz&iacute;n&eacute;&uuml;l szolg&aacute;l&oacute; budapesti Akv&aacute;rium Klub minden alkalommal csordultig telik.&nbsp;</p>
                <p>Mi, az alap&iacute;t&oacute;k (Miki357, Vermes Orsi, Vida Vera), tekintve, hogy minden &eacute;vben v&eacute;gign&eacute;zz&uuml;k az &ouml;sszes be&eacute;rkező alkot&aacute;st, hat&aacute;rozottan l&aacute;tjuk a klipipar evol&uacute;ci&oacute;j&aacute;t, ahogy vegy&uuml;lnek a k&ouml;zegek, nő az &aacute;tj&aacute;r&aacute;s, a minős&eacute;g, a tudatoss&aacute;g, mert v&eacute;gre&nbsp;</p>
                <p>VAN T&Eacute;TJE J&Oacute; KLIPET K&Eacute;SZ&Iacute;TENI.</p>
                <p>Id&eacute;n hatodik alkalommal rendezz&uuml;k meg a szeml&eacute;t, az Akv&aacute;rium Klubban, 2022. okt&oacute;ber 13-&aacute;n. Ahogy az &eacute;vek sor&aacute;n kialakult, szakmai &eacute;s &eacute;lőzenei programokkal k&iacute;s&eacute;rj&uuml;k a klipmaratont. Idei partner&uuml;nk a Haj&oacute;gy&aacute;r, akikkel egy&uuml;tt &uuml;nnepelj&uuml;k a szakm&aacute;t, az alkot&aacute;sokat &eacute;s egyben az első sz&uuml;let&eacute;snapjukat is.</p>
                <p><strong>A sziszt&eacute;ma id&eacute;n is a szok&aacute;sos:</strong></p>
                <p>Nevez&eacute;s: 2022. augusztus 25. &ndash; szeptember 4. 24:00</p>
                <p>K&ouml;z&ouml;ns&eacute;gszavaz&aacute;s: 2022. szeptember 12&ndash;18.</p>
                <p>Szemle: 2022. okt&oacute;ber 13.</p>
                <p>
                </p>
                <p></p>
            </div>
        </div>
    </div>
    <div class="grid  grid--2">
        <div class="col col--1">
            <div class="about__text">
                <h2>Zsűrijeink voltak</h2>
                <p><strong>05. MAGYAR KLIPSZEMLE<br /></strong><strong>okt&oacute;ber 14. / Akv&aacute;rium</strong></p>
                <p>Bics&eacute;rdi-F&uuml;l&ouml;p &Aacute;d&aacute;m (szerkesztő), Daphne Samaras (rendező), Kamau Makumi (zeneszerző, producer, &eacute;nekes), Martin Wanda (fotogr&aacute;fus), Pater Sparrow (filmrendező, l&aacute;tv&aacute;nytervező), R&aacute;day D&aacute;vid (producer, kreat&iacute;v vezető), Reich D&aacute;niel (operatőr), Sp&aacute;h D&aacute;vid (rendező), Szab&oacute; Tomi (v&aacute;g&oacute;), T&ouml;rőcsik Franciska (sz&iacute;n&eacute;sz, &eacute;nekes)</p>
                <br>
                <p><strong>04. MAGYAR KLIPSZEMLE<br /></strong><strong>okt&oacute;ber 10. / Akv&aacute;rium</strong></p>
                <p>Cseh Ren&aacute;t&oacute; (l&aacute;tv&aacute;nytervező-art director), &Eacute;der Kriszti&aacute;n (fotogr&aacute;fus), Fodor M&aacute;riusz (zenei producer), Galler Andr&aacute;s Indi&aacute;n (rendező-kaszkadőr), Inkei Bence (&uacute;js&aacute;g&iacute;r&oacute;), Kov&aacute;cs Eszter (rendező-art director), K&ouml;bli Norbert (film&iacute;r&oacute;), L&aacute;szl&oacute; G. Gerzson (zenei- &eacute;s programigazgat&oacute;), P&aacute;lfi Gy&ouml;rgy (filmrendező), P&eacute;terfy Bori (sz&iacute;n&eacute;sz-&eacute;nekes), Vir&aacute;g Anik&oacute; (stylist-divatszerkesztő), Miki357 (rendező)</p>
                <br>
                <p><strong>03. MAGYAR KLIPSZEMLE<br /></strong><strong>okt&oacute;ber 11. / Anker&rsquo;t</strong></p>
                <p>Blik Dani (producer-rendező), Fabricius G&aacute;bor (rekl&aacute;mszakember), Jakab Juli (forgat&oacute;k&ouml;nyv&iacute;r&oacute;-sz&iacute;n&eacute;sznő), Oltai Kata (kur&aacute;tor), Sallai Zsuzsa (ViaCom csatorna-menedzser) &eacute;s Varga Attila Sixx (&uacute;js&aacute;g&iacute;r&oacute;)</p>
                <br>
                <p><strong>02. MAGYAR KLIPSZEMLE<br /></strong><strong>szeptember 29-30. / Toldi Mozi</strong></p>
                <p>Garai G&aacute;bor (operatőr), Kl&aacute;g D&aacute;vid (&uacute;js&aacute;g&iacute;r&oacute;), N&eacute;meth Juci (&eacute;nekesnő), Szirmai Gergely (YouTuber) &eacute;s TBG (&uacute;js&aacute;g&iacute;r&oacute;)</p>
                <br>
                <p><strong>01. MAGYAR KLIPSZEMLE<br /></strong><strong>szeptember 17-18. / Toldi Mozi</strong></p>
                <p>&Aacute;cs Dani (vide&oacute;s &uacute;js&aacute;g&iacute;r&oacute;), Dobos Tam&aacute;s (operatőr), Izil (r&aacute;di&oacute;s szerkesztő, dj), Libor Anita (kult&uacute;rarovat-vezető) &eacute;s V&aacute;gv&ouml;lgyi Andr&aacute;s (&uacute;js&aacute;g&iacute;r&oacute;)</p>
                    <p></p>
            <p></p></div>
        </div>
        <div class="col col--2">
            <img src="/images/intro_2.jpg" alt="" class="img-responsive">
            <img src="/images/crown.svg" alt="" class="icon icon-1">
            <img src="/images/checker.svg" alt="" class="icon icon-2">

        </div>

    </div>
    <div class="grid  grid--3">
        <div class="col col--1 ">
            <img src="/images/intro_3.jpg" alt="" class="img-responsive">
            <img src="/images/eye.svg" alt="" class="icon icon-1">

        </div>

        <div class="col col--2">
            <img src="/images/folders.svg" alt="" class="icon icon-2">
            <div class="about__text">
                <h2>MI A Hajógyár?</h2>
                <p>
                    A Hajógyár célja, hogy teljes képet adjon a magyar popkultúráról, könnyűzenéről, és eközben az előadókat és rendezvényeket támogatva segítse a kisebb zeneipari szereplőket, kiegyenlítse a piaci egyenlőtlenségeket. Az előző évben több mint 200 hazai kultúrával foglalkozó videót gyártottunk az online térbe.  Miután Magyarország legérdekesebb feltörekvő előadóival és legnépszerűbb sztárjaival is dolgoztunk már együtt, most a Klipszemle szakmai programjához járulunk hozzá. Hozzuk persze fellépni a kedvenc előadóitokat, sőt itt ünnepeljük majd az első születésnapunkat is!
                </p>
                <p>
                </p>
                <p></p>
            </div>
        </div>
    </div>

</div>

    {% if juries %}
        <section class="container content-section jury">
            <div class="row">
                <div class="col-sm-12 ">
                    <h2>A ZSŰRI</h2>

                    <div class="row">

                        {% for jury in juries %}
                            <div class="col-md-4 col-sm-4 col-xs-6 jury-person">
                                {{ sonata_thumbnail(jury.image, 'med', { class: "img-responsive" }) }}
                                <p>{{ jury.name }}</p>
                                <p><i>{{ jury.details }}</i></p>
                            </div>

                        {% endfor %}

                    </div>
                </div>


            </div>

        </section>
    {% endif %}





{% endblock %}
