{% extends 'base.html.twig' %}
{% block body %}


<div class="heroes">
  <div class="swiper-container">
    <div class="swiper-wrapper">
      {% for hero in heroes %}
        <div class="swiper-slide">
          <div class="hero">
              <div class="container">
                  {% if hero.title %}
                      <div class="grid">
                          <div class="col col--1">
                              <div class="hero__content">
                                  <h1><span>{{ hero.title }}</span></h1>
                                  <p>{{ hero.description }}</p>
                                  <a href="{{ hero.url }}" class="btn btn-primary">{{ hero.buttontext }}</a>
                              </div>
                          </div>
                          <div class="col col--2">
                              {% media hero.image, 'big' with {'srcset': ['small', 'big'], class: "img-responsive"} %}
                          </div>
                      </div>
                      {% else %}
                          <a href="{{ hero.url }}" >

                          {% media hero.image, 'big' with {'srcset': ['small', 'big'], class: "img-responsive"} %}
                          </a>
                  {% endif %}

              </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</div>
{# 
<div class="cta">
    <a href="{{ path('eventregistration_new') }}" class="btn btn-black btn-lg">Nevezés <i class="fas fa-arrow-right"></i> </a>
</div>
 #}
<div class="container content-section">
    <div class="grid about">
        <div class="col col--1">
            <img src="{{ asset('build/images/klipsz_01.png') }}" alt="" class="img-responsive">
        </div>
        <div class="col col--2">
          <div class="about__text">
             <h2>MI AZ A KLIPSZEMLE?</h2>
              <p>A k&eacute;rd&eacute;st, hogy mi a franc&eacute;rt nincs itthon a zenei vide&oacute;knak rendes, orsz&aacute;gos versenye, elősz&ouml;r 2015-ben tett&eacute;k fel maguknak a szervezők.&nbsp;</p>

              <p>Ezut&aacute;n k&eacute;t &eacute;ven &aacute;t a budapesti Toldi Moziban rendezt&eacute;k meg a szeml&eacute;t. K&eacute;tnapos, maratoni klipn&eacute;zős n&eacute;p&uuml;nnepek voltak. Egy &eacute;v kihagy&aacute;s ut&aacute;n, a harmadik verseny az Anker&rsquo;tben volt, azt&aacute;n az utols&oacute; 2019-ben, az Akv&aacute;riumban: n&eacute;gy helysz&iacute;nen, koncertekkel, előad&aacute;sokkal, kerekasztal-besz&eacute;lget&eacute;sekkel, 30 d&iacute;jazottal &eacute;s telth&aacute;zzal.</p>

              <p>Az &eacute;vente v&aacute;ltoz&oacute;, f&uuml;ggetlen zsűri &uacute;js&aacute;g&iacute;r&oacute;kb&oacute;l, filmesekből &eacute;s zenei szakemberekből &aacute;ll &ouml;ssze. Egy d&iacute;jat azonban mindig a k&ouml;z&ouml;ns&eacute;g szavaz meg. A kor&aacute;bbi felt&ouml;rekvő nyertesek j&oacute; r&eacute;sze az&oacute;ta Los Angelestől Szabadk&aacute;ig filmes, rekl&aacute;mos vagy kreat&iacute;v szakember lett.&nbsp;</p>

              <p>Most &eacute;rkezt&uuml;nk el az &ouml;t&ouml;dikig, de a c&eacute;l az&oacute;ta se v&aacute;ltozott: legyen platform a hazai zenei vide&oacute;knak, legyen t&eacute;tje j&oacute; klipet csin&aacute;lni, hadd n&eacute;zz&uuml;k meg őket egyszer nagyv&aacute;sznon!</p>


          </div>
        </div>
    </div>
</div>

    {% if juries %}
        <section class="container content-section jury">
            <div class="row">
                <div class="col-sm-12 col-md-7 col-lg-6">
                    <h2>A ZSŰRI</h2>

                    <div class="row">

                        {% for jury in juries %}
                            <div class="col-md-4 col-sm-4 col-xs-6 jury-person">
                                {% thumbnail jury.image, 'med' with { class: "img-responsive" } %}
                                <p>{{ jury.name }}</p>
                                <p><i>{{ jury.details }}</i></p>
                            </div>

                        {% endfor %}

                    </div>
                </div>

                <div class="col-sm-12 col-md-5 col-lg-offset-1 image-holder">
                    <img src="{{ asset('bundles/pixeloidapp/images/2019/blue_2.png') }}" alt="" class="img-responsive">
                </div>

            </div>

        </section>
    {% endif %}





{% endblock %}
