{% extends "base.html.twig" %}

{% block title %} – Közönségszavazás{% endblock %}

{% block body %}


    {% if vote_id %}
        <script>
            var vote_id = {{ vote_id }}
        </script>

    {% endif %}


    {% if not is_granted('EVENTREGISTRATION_VOTE') %}

        <div class="row">
            <div class="col-md-4 col-md-offset-4 text-center">
                <br><br><br>
                <h4>
                    Szavazás csak azonosított felhasználók számára lehetséges!
                </h4>
                <div class="">
                    <a href="{{ path('hwi_oauth_service_redirect', {'service': 'facebook' }) }}" class="fb btn">
            <span>
            <i class="fab fa-facebook-f"></i>
            </span>
                        Lépj be Facebookkal!
                    </a>
                </div>
            </div>
        </div>

    {% endif %}
    <div class="votes">

        {% for video in videos %}

            <div class="col-lg-3 col-md-4 col-sm-6 voteitem" id="video-{{ video.id }}">
                <a href="{{ path('vote_show', {'id' : video.id}) }}" class="show-video" data-id="{{ video.id }}">
			<span class="video-item video-item--highlight">
			{% include 'Vote/_video_list_item.html.twig' with {video: video, size: 'hqdefault'} only %}
			</span>
                </a>
            </div>

        {% endfor %}

    </div>


    <div id="modal"></div>

{% endblock %}

