
{% block body %}

		<div class="video-item video-item--vote" data-current-id="{{ video.id }}">
			<div id="player" data-video-id="{{ video.ytId }}">			</div>

				{% include 'Vote/_video_list_item.html.twig' with {video: video, size: 'hqdefault'} only %}
			<a href="#" class="video-item__btn video-item__btn--play">Lejátszom</a>
			
			{% if is_granted('EVENTREGISTRATION_VOTE') %}
				{% if  alreadyVoted %}
					<span class="video-item__btn  video-item__btn--already-vote">Már szavaztál</span>
				{% else %}
					<a href="{{path('vote_vote', {'id' : video.id})}}" class="video-item__btn video-item__btn--vote">Szavazok</a>
				{% endif %}
			{% else %}
				<a class="video-item__btn video-item__btn--already-vote fb-login" href="{{ path('app_login') }}">
					<i class="fas fa-facebook"></i> A szavazáshoz <br>lépj be, vagy regisztrálj!
				</a>
			{% endif %}

			<a href="#" class="video-item__btn video-item__btn--close"><i class="fas fa-times" aria-hidden="true"></i></a>
			<a href="#" class="video-item__btn video-item__btn--stop"><i class="fas fa-stop" aria-hidden="true"></i></a>

		{#	<a href="#" class="btn btn-primary share-btn">Megosztom Facebookon!</a>
#}

			<script>

			$(document).ready(function(){
				$('.share-btn').click(function(e){
					e.preventDefault();
					FB.ui({
					  method: 'share',
					  mobile_iframe: true,
					  display: 'dialog',
					  href: '{{ app.request.getSchemeAndHttpHost() }}/vote/fb_post_image/{{video.getId}}',
					}, function(response){
						$('#main-modal').modal('hide')
					});
				})
			})

			</script>


		</div>

{% endblock %}

