<!DOCTYPE html>
<html>
    <head>
        <title>05. Magyar Klipszemle!{% block title %}{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta property="og:site_name" content="05. Magyar Klipszemle"/>
        <meta property="og:type" content="website" />
        <meta property="og:locale" content="hu_HU" />            <!-- Default -->
        <meta property="fb:app_id" content="{{ app.request.server.get('FB_APP_ID') }}" />            <!-- Default -->
        
        {% block og_title %}
        <meta property="og:title" content="05. Magyar Klipszemle" />
        {% endblock %}

        {% block og_image %}
        <meta property="og:image"
        content="https://www.klipszemle.com/images/klipszemle_cover.jpg" />
        {% endblock %}

        {% block og_description %}
        <meta property="og:description" content="JELENTKEZÉS // ZSŰRI // MI EZ? // SZERVEZŐK // FAQ // STB." />
        {% endblock %}


        {% block og_url %}
        <meta property="og:url" content="https://www.klipszemle.com" />
        {% endblock %}

        <link rel="apple-touch-icon" sizes="57x57" href="/icon/apple-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="60x60" href="/icon/apple-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="72x72" href="/icon/apple-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="/icon/apple-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114" href="/icon/apple-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120" href="/icon/apple-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="144x144" href="/icon/apple-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="152x152" href="/icon/apple-icon-152x152.png">
        <link rel="apple-touch-icon" sizes="180x180" href="/icon/apple-icon-180x180.png">
        <link rel="icon" type="image/png" sizes="192x192"  href="/icon/android-icon-192x192.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/icon/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="96x96" href="/icon/favicon-96x96.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/icon/favicon-16x16.png">
        <link rel="manifest" href="/icon/manifest.json">
        <meta name="msapplication-TileColor" content="#f37e98">
        <meta name="msapplication-TileImage" content="/icon/ms-icon-144x144.png">
        <meta name="theme-color" content="#f37e98">

        {% block stylesheets %}
            {# 'app' must match the first argument to addEntry() in webpack.config.js #}
            {{ encore_entry_link_tags('app') }}

            <!-- Renders a link tag (if your module requires any CSS)
                 <link rel="stylesheet" href="/build/app.css"> -->
        {% endblock %}

        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vanillajs-datepicker@1.1.4/dist/css/datepicker-bs4.min.css">

    </head>
<body class="{% block bodyclass %}{% endblock %}">
    <div id="fb-root"></div>

    
    <script>
        window.fbAsyncInit = function() {
            // init the FB JS SDK
            FB.init({
                appId      : '646741755492022',                        // App ID from the app dashboard
                status     : true,                                 // Check Facebook Login status
                xfbml      : true                                  // Look for social plugins on the page
            });
        };

        // Load the SDK asynchronously
        (function(d, s, id){
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) {return;}
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/en_US/all.js";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));


    </script>


<nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
    <div class="">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                <i class="fas fa-bars"></i>
            </button>
            <a class="navbar-brand page-scroll" href="/">
                <svg id="Isolation_Mode" data-name="Isolation Mode" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 132.8 41.7"><polygon points="47.47 11.07 49.39 14.53 50.58 14.53 52.49 11.07 52.49 18.4 54.64 18.4 54.64 6.93 52.49 6.93 49.99 11.47 47.47 6.93 45.33 6.93 45.33 18.4 47.47 18.4 47.47 11.07"/><path d="M106.87,35.83c-2,.13-3,1-3,2.58a2.24,2.24,0,0,0,.79,1.88,3.13,3.13,0,0,0,2,.63,3.06,3.06,0,0,0,1.92-.66l0,.56h2V35.47a2.79,2.79,0,0,0-.86-2.09,3.23,3.23,0,0,0-2.33-.82,3.64,3.64,0,0,0-2.06.6,2.86,2.86,0,0,0-1.2,1.56l1.7.48a1.77,1.77,0,0,1,1.49-.76,1.19,1.19,0,0,1,.89.31,1.14,1.14,0,0,1,.31.87v.1Zm1.66,2.59A2.09,2.09,0,0,1,107,39a1.3,1.3,0,0,1-.81-.18.6.6,0,0,1-.21-.48c0-.58.33-.88,1-.91l1.63-.09Z" transform="translate(-47.75 -22.43)"/><path d="M112.63,39.54a3.41,3.41,0,0,0,.83.78,3.32,3.32,0,0,0,1,.46,3.63,3.63,0,0,0,1,.14,2.89,2.89,0,0,0,1.74-.58v.43a1.62,1.62,0,0,1-.39,1.15,1.45,1.45,0,0,1-1.11.42,1.88,1.88,0,0,1-1.69-1l-1.8.46a3.16,3.16,0,0,0,1.25,1.78,3.7,3.7,0,0,0,2.21.64,3.59,3.59,0,0,0,2.61-1,3.36,3.36,0,0,0,1-2.49V32.66h-2l0,.56a2.55,2.55,0,0,0-1.76-.66,3.34,3.34,0,0,0-2,.59,3.27,3.27,0,0,0-.83.79,3.76,3.76,0,0,0-.56,1.19,6,6,0,0,0,0,3.21A3.82,3.82,0,0,0,112.63,39.54Zm1.44-4a1.5,1.5,0,0,1,.39-.71,1.41,1.41,0,0,1,.49-.33,1.48,1.48,0,0,1,1.07,0,1.58,1.58,0,0,1,.48.3,1.69,1.69,0,0,1,.39.61,3.79,3.79,0,0,1,.24.94v1a2.8,2.8,0,0,1-.24.8A1.52,1.52,0,0,1,116,39a1.7,1.7,0,0,1-.51.08,1.53,1.53,0,0,1-.54-.1,1.44,1.44,0,0,1-.5-.33,1.59,1.59,0,0,1-.38-.71,4.25,4.25,0,0,1-.14-1.15A4.36,4.36,0,0,1,114.07,35.58Z" transform="translate(-47.75 -22.43)"/><polygon points="73.77 21.7 75.87 21.7 80.05 10.23 77.83 10.23 76.19 15.16 74.56 10.23 72.34 10.23 75.12 17.88 73.77 21.7"/><path d="M131,35.83c-2,.13-3,1-3,2.58a2.26,2.26,0,0,0,.78,1.88,3.16,3.16,0,0,0,2,.63,3.06,3.06,0,0,0,1.92-.66l0,.56h2V35.47a2.79,2.79,0,0,0-.86-2.09,3.23,3.23,0,0,0-2.33-.82,3.64,3.64,0,0,0-2.06.6,2.82,2.82,0,0,0-1.2,1.56l1.7.48a1.77,1.77,0,0,1,1.49-.76,1.19,1.19,0,0,1,.89.31,1.14,1.14,0,0,1,.31.87v.1Zm1.66,2.59a2.09,2.09,0,0,1-1.58.62,1.3,1.3,0,0,1-.81-.18.6.6,0,0,1-.21-.48c0-.58.33-.88,1-.91l1.63-.09Z" transform="translate(-47.75 -22.43)"/><path d="M138.51,36.32c.17-1.13.67-1.7,1.5-1.7a2.41,2.41,0,0,1,.85.15l.2-2.14a3.84,3.84,0,0,0-.76-.07,2.49,2.49,0,0,0-1.85.81l0-.71h-2v8.16h2.06Z" transform="translate(-47.75 -22.43)"/><polygon points="47.47 34.13 47.47 29.94 48.11 29.21 51.83 34.13 54.4 34.13 49.48 27.68 53.98 22.66 51.29 22.66 47.47 26.98 47.47 22.66 45.33 22.66 45.33 34.13 47.47 34.13"/><polygon points="60.36 32.31 58.78 32.31 58.78 22.66 55.16 22.66 55.16 24.48 56.72 24.48 56.72 32.31 55.16 32.31 55.16 34.13 60.36 34.13 60.36 32.31"/><polygon points="64.77 25.96 61.15 25.96 61.15 27.78 62.7 27.78 62.7 32.31 61.15 32.31 61.15 34.13 66.35 34.13 66.35 32.31 64.77 32.31 64.77 25.96"/><path d="M110.18,46.29a1.3,1.3,0,0,0,.38.93,1.26,1.26,0,0,0,.93.37,1.22,1.22,0,0,0,.92-.38,1.3,1.3,0,0,0-.92-2.22,1.28,1.28,0,0,0-.93.38A1.26,1.26,0,0,0,110.18,46.29Z" transform="translate(-47.75 -22.43)"/><path d="M117.17,49l0-.56h-2V59.85h2.06V56.07a2.89,2.89,0,0,0,1.74.58,3.63,3.63,0,0,0,1-.14,3.37,3.37,0,0,0,1-.46,3.56,3.56,0,0,0,.82-.78,4.06,4.06,0,0,0,.57-1.2,5.76,5.76,0,0,0,.21-1.61,5.69,5.69,0,0,0-.21-1.6,4,4,0,0,0-.57-1.19,3.27,3.27,0,0,0-.83-.79,3.58,3.58,0,0,0-1-.46,3.78,3.78,0,0,0-1-.13A2.51,2.51,0,0,0,117.17,49Zm2.74,1.65a1.69,1.69,0,0,1,.39.71,4.25,4.25,0,0,1,.14,1.15,4.77,4.77,0,0,1-.1,1,2.55,2.55,0,0,1-.25.67,1.57,1.57,0,0,1-.37.4,1.5,1.5,0,0,1-.42.21,1.84,1.84,0,0,1-.41.05,1.48,1.48,0,0,1-1.06-.45,2.53,2.53,0,0,1-.6-1.52v-1a2.75,2.75,0,0,1,.24-.78,1.32,1.32,0,0,1,.4-.51,1.47,1.47,0,0,1,.47-.26,1.72,1.72,0,0,1,.52-.08,1.42,1.42,0,0,1,.55.1A1.54,1.54,0,0,1,119.91,50.6Z" transform="translate(-47.75 -22.43)"/><path d="M129.36,52.74a2.64,2.64,0,0,0-.48-.46,3,3,0,0,0-.61-.36,7.25,7.25,0,0,0-.71-.3l-.53-.19a7.34,7.34,0,0,1-1-.39.39.39,0,0,1-.25-.33.46.46,0,0,1,.25-.38,1,1,0,0,1,.58-.16c.48,0,.85.32,1.12.94l1.81-.47a3.19,3.19,0,0,0-1.07-1.76,2.88,2.88,0,0,0-1.86-.59,3.19,3.19,0,0,0-2.08.68,2.22,2.22,0,0,0-.82,1.79,2.1,2.1,0,0,0,.14.76,2.19,2.19,0,0,0,.33.57,2.41,2.41,0,0,0,.53.43,6.16,6.16,0,0,0,.57.32l.63.25.6.22a6.2,6.2,0,0,1,.89.41.49.49,0,0,1,.24.42.51.51,0,0,1-.29.46,1.47,1.47,0,0,1-.74.17,1.62,1.62,0,0,1-1.52-1l-1.8.46a3.07,3.07,0,0,0,3.27,2.42,4.51,4.51,0,0,0,1.6-.28,2.57,2.57,0,0,0,1.16-.86,2.57,2.57,0,0,0,.33-2.18A2.06,2.06,0,0,0,129.36,52.74Z" transform="translate(-47.75 -22.43)"/><polygon points="83.06 27.78 86.52 27.78 82.88 32.66 82.88 34.13 89.17 34.13 89.17 32.31 85.57 32.31 89.17 27.49 89.17 25.96 83.06 25.96 83.06 27.78"/><path d="M139.34,48.88a3.32,3.32,0,0,0-.84.79,3.93,3.93,0,0,0-.56,1.2,5.88,5.88,0,0,0-.21,1.62,5.39,5.39,0,0,0,.31,1.93,3.24,3.24,0,0,0,.85,1.3,3.7,3.7,0,0,0,1.19.7,4.36,4.36,0,0,0,1.42.23,3.8,3.8,0,0,0,2.17-.64,3,3,0,0,0,1.24-1.78l-1.8-.46a1.86,1.86,0,0,1-1.66,1c-.92,0-1.46-.54-1.6-1.6h5.26v-.69a5.4,5.4,0,0,0-.22-1.61,3.72,3.72,0,0,0-.56-1.2,3.28,3.28,0,0,0-.83-.79,3.61,3.61,0,0,0-1-.46,4.55,4.55,0,0,0-2.16,0A3.61,3.61,0,0,0,139.34,48.88Zm2.08,1.29c.78,0,1.28.45,1.48,1.36h-3A1.49,1.49,0,0,1,141.42,50.17Z" transform="translate(-47.75 -22.43)"/><path d="M148.53,51.65A2.1,2.1,0,0,1,149,50.5a1,1,0,0,1,.74-.33,1.22,1.22,0,0,1,.38.07,1.15,1.15,0,0,1,.37.25,1.07,1.07,0,0,1,.3.53,2.57,2.57,0,0,1,.12.84v4.69H153v-4.9c.16-1,.56-1.48,1.21-1.48a1.22,1.22,0,0,1,.38.07,1.3,1.3,0,0,1,.38.25,1.16,1.16,0,0,1,.31.53,2.9,2.9,0,0,1,.11.84v4.69h2.06V51.74a4.67,4.67,0,0,0-.18-1.34,3.26,3.26,0,0,0-.47-1,2.78,2.78,0,0,0-.69-.64,2.61,2.61,0,0,0-.8-.37,2.94,2.94,0,0,0-.84-.11,3.47,3.47,0,0,0-2.3.9,2.51,2.51,0,0,0-2-.9,2.59,2.59,0,0,0-1.67.66l0-.56h-2v8.16h2.06Z" transform="translate(-47.75 -22.43)"/><polygon points="116 32.31 114.42 32.31 114.42 22.66 110.8 22.66 110.8 24.48 112.36 24.48 112.36 32.31 110.8 32.31 110.8 34.13 116 34.13 116 32.31"/><path d="M165.53,55.72a3.5,3.5,0,0,0,1.19.7,4.25,4.25,0,0,0,1.41.23A3.78,3.78,0,0,0,170.3,56a3,3,0,0,0,1.25-1.78l-1.81-.46a1.85,1.85,0,0,1-1.65,1c-.93,0-1.46-.54-1.6-1.6h5.25v-.69a5.76,5.76,0,0,0-.21-1.61,3.72,3.72,0,0,0-.56-1.2,3.45,3.45,0,0,0-.83-.79,3.75,3.75,0,0,0-1-.46,4.59,4.59,0,0,0-2.17,0,3.9,3.9,0,0,0-1,.46,3.28,3.28,0,0,0-.83.79,3.93,3.93,0,0,0-.56,1.2,5.88,5.88,0,0,0-.21,1.62,5.39,5.39,0,0,0,.31,1.93A3.14,3.14,0,0,0,165.53,55.72Zm2.52-5.55c.79,0,1.28.45,1.48,1.36h-3A1.49,1.49,0,0,1,168.05,50.17Z" transform="translate(-47.75 -22.43)"/><path d="M176.55,22.43H47.75v41.7h132.8V22.43Zm-124.81,4h33.2V60.13H51.74ZM176.55,60.13H88.94V26.42h87.61Z" transform="translate(-47.75 -22.43)"/><path d="M62.67,37.56a4.37,4.37,0,0,1,1.31.19,3.65,3.65,0,0,1,1.22.63,4.48,4.48,0,0,1,1,1.1,5.55,5.55,0,0,1,.69,1.68,10,10,0,0,1,0,4.54,5.49,5.49,0,0,1-.69,1.67,4.31,4.31,0,0,1-1,1.1,3.87,3.87,0,0,1-1.22.64,4.71,4.71,0,0,1-1.31.19,4.79,4.79,0,0,1-1.32-.19,3.83,3.83,0,0,1-1.21-.64,4.31,4.31,0,0,1-1-1.1,5.75,5.75,0,0,1-.68-1.67,10,10,0,0,1,0-4.54,5.82,5.82,0,0,1,.68-1.68,4.48,4.48,0,0,1,1-1.1,3.6,3.6,0,0,1,1.21-.63A4.44,4.44,0,0,1,62.67,37.56ZM60.5,45.14l3.35-5.28a1.8,1.8,0,0,0-1.18-.34,2.27,2.27,0,0,0-.65.09,1.87,1.87,0,0,0-.62.35,2.19,2.19,0,0,0-.53.69,4,4,0,0,0-.36,1.14,8.19,8.19,0,0,0-.14,1.65A9.87,9.87,0,0,0,60.5,45.14Zm1.14,1.92a1.87,1.87,0,0,0,1,.26,2.2,2.2,0,0,0,.64-.1,1.63,1.63,0,0,0,.62-.35,2.2,2.2,0,0,0,.54-.68,4.18,4.18,0,0,0,.37-1.12,9.83,9.83,0,0,0,0-3.12Z" transform="translate(-47.75 -22.43)"/><path d="M68.46,45.86h2.19a1.4,1.4,0,0,0,.4,1.08,1.79,1.79,0,0,0,2.41-.19,3.17,3.17,0,0,0,0-3.17A1.46,1.46,0,0,0,72.26,43a1.87,1.87,0,0,0-1,.26,1.51,1.51,0,0,0-.6.74H68.56l.81-6.39h6.51v2.09h-4.6l-.22,1.64a2.56,2.56,0,0,1,1.29-.31,3.54,3.54,0,0,1,2.72,1.08,4.24,4.24,0,0,1,1,3,4.17,4.17,0,0,1-1,3,3.83,3.83,0,0,1-2.88,1.08,3.91,3.91,0,0,1-2.69-.9A3.23,3.23,0,0,1,68.46,45.86Z" transform="translate(-47.75 -22.43)"/><path d="M77.69,48a1.19,1.19,0,0,1,.36-.88,1.14,1.14,0,0,1,.87-.37,1.16,1.16,0,0,1,.87.37,1.24,1.24,0,0,1,0,1.76,1.22,1.22,0,0,1-.88.35A1.21,1.21,0,0,1,77.69,48Z" transform="translate(-47.75 -22.43)"/></svg>
         </a>
        </div>
        
        {# {{ knp_menu_render('secondary', {'nav_type': '', 'currentAsLink': true, 'currentClass': 'active'}) }} #}

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
        {{ knp_menu_render('main', {'nav_type': '', 'currentAsLink': true, 'currentClass': 'active'}) }}
        <ul class="nav navbar-nav social">
            <li>
                <a href="https://www.facebook.com/klipszemle/" target="_blank">
                    <i class="fab fa-facebook"></i>
                </a>
            </li>
            <li>
                <a href="https://www.instagram.com/magyar_klipszemle/" target="_blank">
                    <i class="fab fa-instagram"></i>
                </a>
            </li>
        </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>



<div class="wrapper">

    {% block body %}{% endblock %}

    <div class="push"></div>


</div>
        


{{ render(controller('App\\Controller\\DefaultController::sponsorsAction')) }}


<!-- Footer -->
<footer>
 <div class="container ">
    <div class="row">
        <div class="col-sm-4">
            <ul class="list-unstyled">
                <li><a href="{{ path('privacy') }}">Adatvédelmi ismertető</a></li>
            </ul>
        </div>
        <div class="col-sm-4 text-center">
                             <p>Copyright &copy; {{date().format('Y')}}</p>

        </div>

        <div class="col-sm-4">
            {{ knp_menu_render('top', {'nav_type': '', 'currentAsLink': true, 'currentClass': 'active'}) }}

        </div>
    </div>
 </div>
</footer>

<div class="modal" id="main-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content"></div>
    </div>
</div>



<div class="modal" id="confirm-finalize" tabindex="-1" role="dialog"  aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
        
            <div class="modal-header">
                <h4 class="modal-title">Értékelés lezárása</h4>
            </div>
        
            <div class="modal-body">
                <p>Biztosan lezárod az értékelésedet? Ha igen, később nem tudsz rajta módosítani!</p>
            </div>
            
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Mégsem</button>
                <a class="btn btn-danger btn-ok">Lezárom</a>
            </div>
        </div>
    </div>
</div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js" integrity="sha512-qTXRIMyZIFb8iQcfjXWCO8+M5Tbc38Qi5WzdPOYZHIlZpzBHG3L3by84BBBOiRGiEb7KKtAOAs5qYdUiZiQNNQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/locale/hu.min.js" integrity="sha512-hEHNs0CtWzvU94B2DqqofWIUGbwrdxU9zTNUZ7mG9SWN9PR/xxKLHC/sAYvOHSz7xzsiYP63MeUSiN4BL0XcPQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script   src="https://code.jquery.com/jquery-3.6.0.min.js"   integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="   crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}

        <!-- Renders app.js & a webpack runtime.js file
            <script src="/build/runtime.js" defer></script>
            <script src="/build/app.js" defer></script>
            See note below about the "defer" attribute -->
    {% endblock %}


<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-2124136-46', 'auto');
  ga('send', 'pageview');

</script>
</body>
</html>
